html {
    background: url(../imagens/fundo.png) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

button {
    background-color: #4169e1;
    color: white;
    padding: 14px 10px;
    margin: 6px 0;
    border: none;
    cursor: pointer;
    width: 25%;
  }
  
button:hover {
    opacity: 0.8;
}